.side
  .side__top
    .side__top__box
      %p yuuki
      %ul.side__top__box__edit
        = link_to "#",class: "side__btn" do
          = icon('fas', 'cog')
        = link_to "#",class: "side__btn" do
          = icon('fas', 'edit')
  .side__list
    .side__list__box
      %p.side__list__name techcamp
      %p.side__list__message まだメッセージがありません



