$name: #333333;
$text: #999999;
$marin: #38aef0;
$dark: #434a54;

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side {
  width: 300px;
  &__top {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__top__box {
    height: 20px;
    width: 260px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    color:white;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
  }
    &__top__box__edit{
       width: 60px;
    }
    &__btn {
      color: #ffffff;
      text-decoration: none;
      float: right;
      margin-right: 5px;
    }
    &__list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    color: #ffffff;
  }
  &__list__box{
    font-weight: bold;
    padding-top: 20px;
    margin-left:20px;
    margin-bottom: 40px;
  }
  &__list__box__group{
    text-decoration: none;
  }
  &__list__name {
    font-size: 15px;
    padding-bottom: 5px;
    color: white;
  }
  &__list__message{
    font-size: 11px;
    color: white;
  }
}


.main {
  width: calc(100vw - 300px);
  &__top {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 35px 40px 15px 40px;
    font-weight: bold;
      &__name{
      color:$name;
      font-size: 20px;
        &__member{
          padding-top: 15px;
          font-size: 12px;
          color: $text;
        }
      }
    &__box__edit{
      color: $marin;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 72px;
      border: 1px solid;
      font-size: 16px;
      border: 1px solid;
    }
      .main__edit{
        text-decoration: none;
        color: $marin;
      }
  }
    &__content {
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
      padding-left: 40px;
      overflow: scroll;
      &__name__box{
        padding-top: 35px;
        .message{
        .upper-message{
          display: flex;
        }
        .upper-message__user-name{
          font-size: 20px;
          color: $name;
        }
        .upper-message__date {
          padding-left:5px;
          font-size: 12px;
          color: $text;
        }
    }
      .lower-message__content{
        font-size: 14px;
        color: $dark;
        padding-top: 12px;
        padding-bottom: 40px;
      }
    }
    }  //content終わり
    &__bottom {
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
      form{
        display: flex;
        position: relative;
        .input-box {
          display: flex;
          width: 100%;
          &__text{
            height: 50px;
            width: 100%;
            color: $dark;
            border-style: none;
            padding: 0 40px 0 10px;
          }
          &__image{
            position: absolute;
            top:10px;
            right:135px;
            cursor: pointer;
            font-size: 1.3rem;
            &__file{
              display: none;
            }
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: $marin;
          color: white;
          cursor: pointer;
        }
      }
    }
}